.form-section {
    margin-bottom: 0.5rem;

    input {
        margin-left: 1rem;
    }

    small {
        display: block;
        color: #cd2c2e;
        margin-left: 1rem;
    }
}

button {
    margin-left: 6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.status, .alert {
    margin-left: 1rem;
}

a {
    margin-left: 3rem;
    color: #0074c7;
    text-decoration: none;
}

a:hover {
    color: #00497c;
    text-decoration: underline;
}