<h1>Bonjour, {{ user.name }} !</h1>
<p>
    Bienvenue sur Knowledge Learning ! <br>
    Pour pouvoir acheter une leçon ou un cursus, veuillez activer votre compte en cliquant sur ce lien : <br><br>
    <a href="{{ signedUrl }}">Confirmer mon adresse email</a> <br>
    Ce lien expirera dans une heure.
</p>

<p>
    Merci ! <br>
    L'équipe Knowledge Learning
</p>