header {
    background-color: #f1f8fc;
    border: 1px solid #0074c7;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        display: flex;
        gap:1rem;
        list-style: none;

        a {
            text-decoration: none;
            color: #0074c7;
        }

        a:hover {
            color: #00497c;
            text-decoration: underline;
        }

        button {
            background: none;
            border: none;
            font: inherit;
            color: #0074c7;
        }

        button:hover {
            color: #00497c;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}